*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    border:none;
    width: 100%;
    background-color: #ccc;
}
div.father{
  height: auto;
  margin-top: 20vh;
}
#sechead{
    /*position: fixed;*/
    height: 20vh;
    width: 100%;
    background-color: #0A3C78;
    background-size: cover;
    display: inline-block;
    background-attachment: fixed;
    position: fixed;
    z-index: 1000000;

    top:0;
}
#noti
{
  height: 100%;
  /* min-height: 80.1vh; /*80.1vh*/
  width: 8%;
  background-color: transparent;/*333B3E*/
  background-size: cover;
  display: inline-block;
  background-attachment: fixed;
  float: left;
  position:relative;
  margin-top: -1.1vh;
  padding:1%;
  /* overflow-y: visible;
  overflow-x: visible; */
  overflow: hidden;

}
input[type="button"]
{
  position: relative;
  width: 100%;
  height: 50%;
  border-radius: 8px;
  margin-left:2%;
}
div.Consulta{
  display: block;
}
div.ot {
  margin-top: 20%;
  background-color: #5B6569;
  width: 100%;
  height: 100px;
  color: white;
}

div.in
{
  display: inline-block;
  background-color: #1054A5;
  margin-left: 1%;
  width: 7%;
  height: 110px;
  margin-top: 25px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 15px;
}
div.inprincipal
{
  margin-left: 3%;
}
div.in:hover
{
  background-color: #0A468D;
}
div.in:active
{
  background-color: #1054A5 !important;
}
div.logoPrincipal
{
  float: left;
  padding: 1%;
}
img.logo
{
  padding-left:30px;
  width: 70%;
  margin-top: 25%;
}
p.datos
{
  color: white;
  text-align: left;
  font-size: 16px;
  margin-top: 6%;
}
p.vi
{
  margin-top: 17%;
  text-align: center;
  padding: auto;
  color: white;
}
.notification-pane{
  clear: both;
    border-radius: 32px;
    width: 12%;
    height: 6vh;
    margin-top: -25%;
    margin-left: 45%;
    background-color: #5B6569;
    cursor: pointer;
}
div.notification-pane:hover{
  background-color: #50575A;
}
div.notification-pane:active
{
  background-color: #5B6569;
}
.exit{
    border-radius: 32px;
    width: 12%;
    margin-top: -13%;
    height: 6vh;
    background-color: #831F16;
    cursor: pointer;
    margin-left: 65%;
}
.exit:hover
{
  background-color: #661811;
}
.exit:active{
  background-color: #831F16;
}
figure{
    width: 100%;
    height: 70%;
    color: white;
    margin: 10%;
    padding: 10%;
    /*margin-left:10%;
    padding-top: 10%;*/
}
.notification_image{
    width: 25px;
    float: left;

}
div.ce
{
  margin-left: 15%;

}



/*  estilo de perfil */

.profile-information{
    width: 26%;
    height: 15vh;
    float: right;
    margin-right: 1%;
    margin-top: -2%;
}
.figure-profile{
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    display:table;
}

.figure-profile div{
    width: 11vh;
    height: 11vh;
    background-color: rgba(0,0,0,0.5);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    float: right;
    margin-right: 15%;
    border: #FFF solid 2px;
}

.figure-profile figcaption{
    width: 60%;
    height: 40%;
    color: #FFF;
    text-align: left;
    font-size: 18px;
    text-align: left;
    vertical-align: middle;
    display:table-cell;
}


/* contenedor de tabs*/

.container{
    position: relative;
}
.content{
    margin-top: 1.8vh;
    min-height: 78vh;
    height: auto;
     /*77.2vh*/
    width: 100%;
    background-color: white;
    display: inline-block;
    background-size: cover;
    float: left;
    position: absolute;
    display: none;
}
.content-active{
    display: inline-block;
}

.tab-active{
    background-color: #0A468D !important;
}

/* ESTILO MODAL AGREGAR*/
input[type=button].add{
  height: 30px;
  cursor: pointer;
}
.container-add{
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: inline-block;
}
input[type="text"].inputadd
{
  margin-left: 1%;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 2%;
  float: left;
  text-align: left;
}
select.selectadd
{
  float:left;
  width: 23%;
  margin-left: 1%;
  margin-top: 2%;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
select.selectadd2
{
  clear: both;
  float: left;
  width: 23%;
  height: 30px;
  margin-top: 4%;
  margin-left: 1%;
  border-radius: 4px;
  border: 1px solid #ccc;
}
select.selectadd3
{
  float: left;
  width: 23%;
  height: 30px;
  margin-top: 4%;
  margin-left: 2%;
  border-radius: 4px;
  border: 1px solid #ccc;
}
select.selectadd4
{
  float: left;
  width: 23%;
  height: 30px;
  margin-top: 4%;
  margin-left: 2%;
  border-radius: 4px;
  border: 1px solid #ccc;
}
textarea.txt1{
  float: left;
  margin-left: 1%;
  margin-top: 2%;
}
textarea.txt2
{
  float: left;
  margin-left: 1%;
  margin-top: 2%;
}
input[type=submit]
{
    clear: both;
    background-color: #4CAF50;
    color: white;
    padding: 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-left: 16%;
    width: 22%;
    margin-top: 2%;
    font-size: 110%;
}
input[type=submit]:hover
{
    background-color: #45a049;
}
input.cancelar
{
  width: 22%;
  background-color: #DC3C3C;
  color: white;
  padding: 1%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  margin-left: 16%;
  margin-top: 2%;
  font-size: 110%;
}
input.cancelar:hover
{
  background-color: #C53A3A;
}
input[type=button].modi
{
  border-radius: 4px;
  border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	height: 40px;
	width: 120px;
  background-color: #008CBA;
}
input[type=button].modi:hover
{
  background-color: #016A8C;
  color: #000;
}
input[type=button].elim
{
	background-color: #f44336;
}
input[type=button].elim:hover
{
  background-color: #B93D33;
}
