div.inv
{
  background-color: #FFF;
  width: 98%;
  height: 10%;
  margin-top: -20px;
  margin-left: 1%;
  padding-left: 2%;
  border-bottom: 3px solid #23B3D8;
}
p.t
{
  font-size: 30px;
  font-style: bold;

}
span.t2
{
  font-size: 18px;
  color: #ccc;
  font-style: normal;
}
p.tp
{
  padding-top: 1%;
  font-size: 18px;
  color: #ccc;
  font-style: normal;
}
div.db
{
  background-color: white;
  width: 98%;
  height: 88%;
  margin-top: -18px;
  margin-left:1%;
  padding-left: 1%;
}
a{
  text-decoration: none;
  }
input.add{
  border: none;
  padding: 3px;
  color: white;
  font-size: 18px;
  background-color: #00C1EE;
  width: 10%;
  height: 8%;
  margin-left: 0;
}
