div.inv {
  background-color: #FFF;
  width: 98%;
  height: 10%;
  margin-top: -20px;
  margin-left: 1%;
  padding-left: 2%;
  border-bottom: 3px solid #23B3D8;
}

p.t {
  font-size: 30px;
  font-style: bold;
}

span.t2 {
  font-size: 18px;
  color: #ABA9A9;
  font-style: normal;
}

p.tp {
  padding-top: 1%;
  font-size: 18px;
  color: #ABA9A9;
  font-style: normal;
}

div.db {
  background-color: white;
  width: 98%;
  height: 88%;
  margin-top: -18px;
  margin-left: 1%;
  padding-left: 1%;
}

a {
  text-decoration: none;
}

div.find {
  margin-top: 1%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 1%;
  padding-bottom: 1%;
}

select {
  width: 5%;
  height: 25px;
}
select.find
{
  width: 100px;
}
img.find
{
  width: 20px;
  height: 20px;
  margin-left: 2px;
}
input.add {
  border: none;
  padding: 3px;
  color: white;
  font-size: 15px;
  background-color: #00C1EE;
  width: 8%;
  height: 8%;
  margin-left: 0;
}

div.right {
  float: right;
}

input[type=text] {
  height: 30px;
}
table.regis_produc
{
  font-family: "Trebuch et MS", Arial,Helvatica;
  border-collapse: collapse;
  width: 100%;
  margin-top: 2%;
}
.regis_produc th, .regis_produc td
{
  border: 2px solid #ddd;
  padding: 8px;
  text-align: center;
  background: white;
}
.regis_produc th
{
   border-bottom: 5px solid #ddd;
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: center;
   background-color: #52D3BA;
   color:white;
}
.pager{
    width: 97%;
    height: 5vh;
    position: absolute;
    bottom: 4%;
}
.pager ul{
    width: 100%;
    height: 5vh;
    margin-top: 0.2%;
    text-align: center;
}
.pager ul li{
    width: 30px;
    height: 25px;
    display: inline-block;
    color: #000 ;
    border: 1px #CCC solid;
    text-align: center;
    font-size: 12px;
    padding-top: 4px;
}
.pager ul li a{
    vertical-align: bottom;
}
.pager li
{
  margin: -3px;
}
.page-active{
    background-color: #CCC;
}
