*{
    outline: none;
}
.main_content{
    width: 99%;
    height: 76.8vh;
    margin-left: 0.5%;
    background-color: #FFF;
    box-sizing: content-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.content_top{
    width: 100%;
    height: 8vh;
    margin-top: 0.5vh;
    background-color: transparent;
    box-sizing: content-box;
    border-bottom: solid #CCC 0.5px;
    border-top: solid #40AAC4 5px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.content_sv{
    width: 40%;
    height: 63vh;
    max-height: 70vh;
    margin-left: 1%;
    float: left;
    margin-top: 2vh;
    display: inline-block;
    box-sizing: content-box;
    background-color: transparent;
    border: solid 0.5px #CCC;
    border-top: solid #479A74 5px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.content_p{
    width: 56%;
    height: 50vh;
    max-height: 70vh;
    margin-right: 1%;
    float: right;
    margin-top: 2vh;
    display: inline-block;
    box-sizing: content-box;
    background-color: transparent;
    border: solid 0.5px #CCC;
    border-top: solid #D3A761 5px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.pager{
    width: 100%;
    height: 5vh;
    position: absolute;
    bottom: 0%;
}
.pager ul{
    width: 100%;
    height: 5vh;    
    margin-top: 0.2%;
    text-align: center;
}
.pager ul li{
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0;
    color: #000;
    border: 1px #CCC solid;
    text-align: center;
}
.pager ul li a{
    vertical-align: bottom;
}
.page-active{
    background-color: #CCC;
}

/* form solicitar venta */
.input{
    width: 90%;
    height: 9%;
    margin-left: 1%;
    margin-top: 2%;
    border: solid 0.5px #CCC;
}
.input_icon{
    width: 10%;
    height: 100%;
    border-right: solid 0.5px #CCC;
    display: inline-block;
}
.input_icon img{
    width: 70%;
    text-align: center;
    margin-left: 15%;
}

.input_name{
    width: 90%;
    height: 100%;
    float: right;
    display: inline-block;
}
.input_name p{
    width: 100%;
    height: 100%;
    margin-top: 0;
    text-align: left;
    font-size: 20px;
    padding: 2%;
    padding-left: 10%;
}


.input_set{
    width: 70%;
    height: 75%;
    margin-left: 0px;
    margin-top: 1%;
    display: inline-block;
    overflow: hidden;
    background-color: aqua;
}
.input_set select{
    width: 100%;  
    height: 100%;
    border: solid #FFF 1px;
}
.input_set select:focus{ outline: none;
}

.input_new{
    width: 19%;
    height: 100%;
    display: inline-block;
    background-color: #AAA;
    float: right;
}
.input_new button{
    width: 90%;
    height: 70%;
    margin-left: 5%;
    margin-top: 5%;
}
.second_pane{
    width: 100%;
    height: 25vh;
    margin-top: 5%;
    border-top: solid #CCC 0.5px;
    border-bottom: solid #CCC 0.5px;
}

.second_pane p{
    margin-left: 25%;
}
.second_pane textarea{
    width: 70%;
    height: 60%;
    margin-right: 5%;
    float: right;
    resize: none;
    
}
.second_pane textarea:focus{
    outline: none;
}

.pane_submit{
    width: 100%;
    height: 15%;
    border-bottom: solid #CCC 0.5px;
}
.pane_submit button{
    width: 20%;
    margin-left: 75%;
    margin-top: 2%;
    border: none;
    border-radius: 5px;
    color: #FFF;
    background-color: #3B8EBA;
};

.content_p_top{
    width: 100%;
    height: 5vh;
    background-color: violet;
    border-bottom: solid #000 0.5px;
}

.content_p_top p{
    width: 45%;
    display: inline-block;
    padding-left: 5%;
    margin-bottom: 0.5%;
}

.select{
    width: 40%;
    height: 4vh;
    margin-left: 5%;
}